html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#BackHomeLink {
  background-color: grey;
  margin: 12px 0 12px 0;
  padding: 12px 0 12px 0;
  text-align: center;
}

#header {
  text-align: center;
}
